<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        body {
            margin: 0;
        }
    </style>
    <script src="//unpkg.com/force-graph"></script>
</head>

<body>
    <p>替代</p>
    <table>
        <tr>
            {% for col in column_names1 %}
            <th>{{col}}</th>
            {% endfor %}
        </tr>
        {% for row in row_data1 %}
        <tr>
            {% for col, row_ in zip(column_names1, row) %}
            {% if col == link_column %}
            <td>
                <button type="submit" value={{ row_ }} name="person_id" form="patient_form" class="patient_button">
                    {{ row_ }}
                </button>
            </td>
            {% else %}
            <td>{{row_}}</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}

    </table>

    <p>規劃</p>
    <table>
        <tr>
            {% for col in column_names2 %}
            <th>{{col}}</th>
            {% endfor %}
        </tr>
        {% for row in row_data2 %}
        <tr>
            {% for col, row_ in zip(column_names2, row) %}
            {% if col == link_column %}
            <td>
                <button type="submit" value={{ row_ }} name="person_id" form="patient_form" class="patient_button">
                    {{ row_ }}
                </button>
            </td>
            {% else %}
            <td>{{row_}}</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}

    </table>
    <p>
    <!-- <p>json</p> -->
    <p id="content1" hidden>{{nodedata}}</p>
    <div id="graph"></div>
    <script>
        // gen a number persistent color from around the palette
        const getColor = n => '#' + ((n * 124680) % Math.pow(2, 24)).toString(16).padStart(6, '0');

        const gData =JSON.parse(document.getElementById("content1").textContent);

        //.cooldownTicks(100)
        const Graph = ForceGraph()
            (document.getElementById('graph'))
            .graphData(gData)
            .nodeId('id')
            .nodeVal('value')
            //.nodeAutoColorBy('group')

            .linkSource('source')
            .linkTarget('target')
            .linkAutoColorBy('source')

            .cooldownTicks(1)

            .nodeCanvasObject((node, ctx, globalScale) => {
                const label = node.id; //
                const fontSize = 12 / globalScale;
                ctx.font = `${fontSize}px Sans-Serif`;
                const textWidth = ctx.measureText(label).width;
                const bckgDimensions = [textWidth, fontSize].map(n => n + fontSize * 0.2); // some padding
                ctx.nodeVal = 50;
                ctx.fillStyle = getColor(Math.floor(Math.random() * 1000));  //'rgba(255, 255, 255, 0.8)' node.id  Math.floor(Math.random() * 1000)
                //ctx.fillRect(node.x - bckgDimensions[0] / 2, node.y - bckgDimensions[1] / 2, ...bckgDimensions);

                ctx.beginPath();
                ctx.arc(node.x, node.y, parseFloat(Math.sqrt(node.group)), 0, 2 * Math.PI, false);
                ctx.fill();

                ctx.textAlign = 'center';
                ctx.textBaseline = 'middle';
                ctx.fillStyle = 'rgba(255, 255, 255, 1)';  //'rgba(0, 0, 0, 0)'
                ctx.fillText(label, node.x, node.y);

                node.__bckgDimensions = bckgDimensions; // to re-use in nodePointerAreaPaint
            })
            .nodePointerAreaPaint((node, color, ctx) => {
                ctx.fillStyle = color;
                const bckgDimensions = node.__bckgDimensions;
                bckgDimensions && ctx.fillRect(node.x - bckgDimensions[0] / 2, node.y - bckgDimensions[1] / 2, ...bckgDimensions);


            });
        // fit to canvas when engine stops
        Graph.onEngineStop(() => Graph.zoomToFit(10));
    </script>
</body>

</html>